<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc.xsd
                           http://www.springframework.org/schema/tx 
                           http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd"> 

    <!-- Bean definitions go here -->
    <tx:annotation-driven/>
    
    <context:component-scan base-package="com.swcguild.capstoneproject.dao" />

    <bean id="dataSource"
          class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url"
                  value="jdbc:mysql://localhost:3306/quartermaster_dev"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
        <property name="initialSize" value="5"/>
        <property name="maxActive" value="10"/>
    </bean>
    
    <bean id="userDao" class="com.swcguild.capstoneproject.dao.UserHibernateDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>
    
    <bean id="assetDao" class="com.swcguild.capstoneproject.dao.AssetHibernateDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>
    
    <bean id="eventDao" class="com.swcguild.capstoneproject.dao.EventHibernateDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>
    <bean id="chartsDao" class="com.swcguild.capstoneproject.googlecharts.GoogleChartDBImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate" />
    </bean>
    <bean id="checkIn" class="com.swcguild.capstoneproject.dao.AssetCheckInService">
        <property name="jdbcTemplate" ref="jdbcTemplate" />
        <property name="assetDao" ref="assetDao" />
    </bean>
    <!--    <bean id="noteDao" class="com.swcguild.capstoneproject.dao.NoteDbImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>-->
    
    <bean id="jdbcTemplate"
          class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource" />
    </bean>
    
    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean> 
    
    <!-- needed to reliably display username for logged in user -->
    <bean id="webexpressionHandler" class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler" />

    <!-- HIBERNATE CONFIGURATION -->
    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="packagesToScan"
                  value="com.swcguild.capstoneproject.model" />
        <property name="hibernateProperties">
            <props>
                <prop key="dialect">org.hibernate.dialect.MySQLDialect</prop>
            </props>
        </property>
    </bean>
    
    
</beans>
